.navbar {
  width: 70%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-left: 200px;
  margin-top: 300px;
  
}

.logo {
  font-size: 28px;
  font-weight: 700;
  font-family: "Georgia", serif;
}

.write-btn {
  background: black;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s;
}

.write-btn:hover {
  background: #333;
  transform: translateY(-2px);
}
