
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.create-box {
  width: 800px;
  background: #ffffff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  margin: 30px auto;    /* centers the box */
  border: 1px solid #eee;
 
  
}

.heading {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

.create-box label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 6px;
  margin-top: 15px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background: #f9f9f9;
  transition: 0.2s;
}

.input:focus {
  border-color: #000;
  background: #fff;
}

.textarea{
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background: #f9f9f9;
  transition: 0.2s;
  margin-bottom: 10px;

}

.textarea:focus {
  border-color: #000;
  background: #fff;
}

.create-btn{
  background-color: #333;
  color: white;
  margin-top: 20px;
}


/* for your blogs i.e created blogs */

.heading{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 25px;
  letter-spacing: 0.5px;

}

.blog-list {
  width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.blog-card {
  background: #ffffff;
  padding: 22px;
  border-radius: 12px;
  border: 1px solid #eee;
  box-shadow: 0 4px 14px rgba(0,0,0,0.07);
  transition: 0.3s ease;
  width: 800px;
  margin-left: -100px;
}

.blog-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}



.blog-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #222;
}
.blog-desc {
  font-size: 17px;
  color: #555;
  margin-bottom: 18px;
  line-height: 1.6;
}

.actions {
  display: flex;
  gap: 12px;
}

.update-btn {
  background: #007bff;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.update-btn:hover {
  background: #005fcc;
}

.delete-btn {
  background: #d9534f;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #c0392b;
}


/* for seeearch box */


.search-box {
  width: 600px;
  padding: 12px 16px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fafafa;
  transition: 0.3s;
}

.search-box:focus {
  border-color: #000;
  background: #fff;
  outline: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}





